.navigation__ul{
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align:center;
    background: #123C69;
    list-style: none;
    margin:0;
    padding: 0;
}

@media(max-width: 767px) {
    .navigation__ul{
        grid-template-columns: 1fr;
    }
}

.navigation__li{
    margin: 20px;
    letter-spacing: 2px;
}

.navigation__a{
    color: #BAB2B5;
    text-decoration: none;
}

.navigation__a:hover{
    color: #EEE2DC;
}

.navigation__a--current{
    text-decoration: line-through;
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}
