.section__team{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-content: center; 
    text-align: center;
}

.section__director{
    grid-row: 1/3;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-end: 1;
}

.section__instructor{
    grid-row: 2/3;
}

.section__stylist{
    grid-row: 3/3;
}

#seung{
    grid-column-start: 1;
    grid-column-end: 3;
}

#alba{
    grid-column-start: 2;
    grid-column-end: 4;
}

#emilly{
    grid-column-start: 3;
    grid-column-end: 5;
}

#cillian{
    grid-column-start: 4;
    grid-column-end: 6;
}

.section__img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.section__figcaption{
    text-align: center;
    text-shadow: 1px 1px white;
}

@media(max-width: 1024px) {
    .section__team{
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
    }

    .section__director{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-end: 1;
    }
    
    #seung, #alba, #emilly, #cillian, .section__instructor, .section__stylist{
        grid-row: auto;
        grid-column: auto;
        justify-self: center;
    }
}

@media(max-width: 767px) {
    .section__team{
        grid-template-columns: 1fr;
    }

    .section__director, .section__instructor, .section__stylist{
        grid-row: auto;
        grid-column: auto;
    }
}