.container {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
}

.section{
    display: grid;
    grid-template-columns: auto auto;
}

.container__header{
    color: #AC3B61;
    margin: 0;
    padding: 0;
}

.header__h1{
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: -2px;
    font-size: 80px;
    text-shadow: 2px 2px white;
}

.header__i{
    font-family: 'Parisienne', cursive;
    font-size: 100px;
    text-decoration: none;
    letter-spacing: 4px;
}

@media(max-width: 1200px) {
    .header__h1{
        text-align: center;
        font-size: 60px;
    }

    .header__i{
        font-size: 80px;
    }
}


@media(max-width: 767px) {
    .section{
        grid-template-columns: 1fr;
    }
    .header__h1{
        text-align: center;
        font-size: 40px;
    }

    .header__i{
        font-size: 60px;
    }
}