.navigation{
    width: 300px;
    margin: 0 100px 0 0;
    height: 300px;
    background: #123C69;
}

.navigation__ul{
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 1px;
    list-style: none;
    font-size: 20px;
    margin: 0;
    padding: 100px 40px;
}

@media(max-width: 1200px) {
    .navigation{
        margin: 0;
    }
}

@media(max-width: 767px) {
    .navigation{
        width: 100%;
        margin: 0;
    }

    .navigation__ul{
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.navigation__li{
    letter-spacing: 2px;
}

.navigation__a{
    color: #BAB2B5;
    text-decoration: none;
}

.navigation__a:hover{
    color: #EEE2DC;
}

.navigation__a--current{
    text-decoration: line-through;
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}
