.section__button{
    text-align: center;
    margin-top: 100px;
    position: relative;
}

@media(min-height: 1000px) {
    .section__button{
        margin-top: 500px;
    }
}

@media(min-height: 1300px) {
    .section__button{
        margin-top: 800px;
    }
}

.button{
    background: #123C69;
    text-transform: uppercase;
    font-size: 30px;
    padding: 30px;
    border-radius: 5px;
    opacity: 0.95;
    color: #BAB2B5;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
}

.button:hover{
    color: #EEE2DC;
}

.button:active{
    filter: brightness(110%);
}

@media(max-width: 767px) {
    .button{
        font-size: 20px;
        padding: 20px;
    }
}